* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  // background-image: url("https://img.freepik.com/free-photo/green-wall-paint-textured-background_53876-133003.jpg?t=st=1742774675~exp=1742778275~hmac=2ded3b8503ce6b2032d94371ee6ed6ac88487d96751dff717de483ad8f2bd3dc&w=1380");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #2A3724;
}
