section {
  // border: 2px solid blue;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .pasRec {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    height: 250px;
    width: 300px;
    background-color: #dcdcd0;
    border-radius: 0px 20px;
    button {
      background-color: #465c38;
      border: none;
      height: 40px;
      width: 90px;
      border-radius: 0px 20px;
      // border-radius: 50%;
      color: #dcdcd0;
      transition: 0.5s;
    }
    button:hover {
      background-color: #dcdcd0;
      color: #465c38;
      border: 1px solid #465c38;
    }
    .area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 5px;
      height: 70px;
      width: 200px;
      background-color: #465c38;
      border-radius: 0px 20px;
      h3 {
        color: #dcdcd0;
      }
      input {
        height: 25px;
        width: 90%;
        //   border: 2px solid red;
        border: none;
        background-color: #dcdcd0;
        color: #465c38;
        border-radius: 10px;
      }
    }
  }
}
